@import 'colors';
@import 'breakpoints';

$primary: #1db954;

$primary-transition-duration: 0.3s;
$primary-transition-timing-function: cubic-bezier(0.25, 0.8, 0.5, 1);
$primary-transition: $primary-transition-duration $primary-transition-timing-function;
