.app {
  display: flex;
}

.app-wrap {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
}

.app-content {
  display: flex;
  flex: 1 0 auto;
  max-width: 100%;
}

.app-content-wrap {
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
}
